@model Microsoft.AspNetCore.Diagnostics.StatusCodeReExecuteFeature
@{
    ViewData["Title"] = "Not Found Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<h1 class="text-center">Nothing Here to see you miss leading your target,trust me you should click here 
    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-black">Home</a>
</h1>
<br/>
<br/>
<br/>
<br/>
<br/>
```