<h2>Confirm your email</h2>

<p>
    <strong>Please click that link to confirm your email </strong>
    <a href="@ViewBag.ConfirmLink">Confirm your email by click here</a>
</p>
<br />
<h2>Thank you for using my website</h2>