
@model File_Sharing.ViewModels.UserViewModel

<h2>Info</h2>
<h2>Logged In User : </h2>
<p>
    <strong> Email </strong> : <span>@Model.Email</span>
</p>
<p>
    <strong> Name </strong> : <span>@Model.ShortName</span>
</p>
<p>
    <strong> PhoneNumber </strong> : <span>@Model.PhoneNumber</span>
</p>
<br />
<h2>Manage </h2>

<a href="#" class="btn btn-outline-primary">Change Password</a>