@model File_Sharing.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<br />


<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h2>Reset Password</h2>
                            </div>
                        </div>
                    </div>

                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form method="post" class="mu-contact-form" asp-action="ResetPassword" asp-controller="Account" >
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        
                                        <div class="form-group" >
                                            <input value="@ViewBag.Email" type="hidden" asp-for="Email" class="form-control" id="Email" required>
                                        </div>

                                         <div class="form-group" >
                                            <input value="@ViewBag.Token" type="hidden" asp-for="Token" class="form-control" id="Token" required>
                                        </div>

                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password" id="NewPassword" required>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <span class="fa fa-user mu-contact-icon"></span>
                                            <input type="password" asp-for="NewPasswordConfirmation" class="form-control" placeholder="Comfirm Password" id="NewPasswordConfirmation" required>
                                            <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
                                        </div>

                            

                                        <button type="submit" class="mu-send-msg-btn"><span>Submit</span></button>
                                        <hr>
                
                                    </form>
                                </div>
                                <hr>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
