<br />
<br />
<h2 class="text-center">Forget Password for your Email</h2>
<br />
<br />
<p class="text-center">
    <strong>Please click that Link to reset your password :</strong>
    <a href="@ViewBag.confirmationResetLink"> CLICK HERE</a>
</p>
<br />
<h4 class="text-center">Thank you for using FileSharing</h2>